<%= render 'layouts/navbar' %>

<% if current_user.is_manager == true %>
<div class="venues-wrapper row">
  <%= link_to 'New Event', new_event_path %>
  <br/>
  <%= link_to 'New Deal', new_deal_path %>

  <h1>Venues</h1>
  <% @venues.each do |venue| %>
    <div class="venue">
      <div class="venue-head">
        <div class="title">
          <%= venue.title %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag venue.image.url(:medium), class:'img-responsive'), venue_path(venue) %>
      </div>
      <p class="title">
        <%= venue.location %>
        <br/>
        Google Rating <%= venue.description %>/5
        <br/>
        Rating: <%= (venue.votes_for - venue.votes_against) %>
        <br/>
        Number of Upvotes: <%= (venue.votes_for) %>
        <br/>
        Number of Downvotes: <%= (venue.votes_against) %>
        <br/>
        Total Number of Votes Today: <%= (venue.votes_for + venue.votes_against) %>
        <br/>
        Total Number of Comments: <%= venue.comments.count %>
        <% if current_user.voted_for?(venue) %>
        <%= link_to('vote for this post!') %>
        <% else %>
        <%= link_to('vote for this post!', vote_up_venue_path(venue), :method => :post) %>
        <% end %>
        <br/>
        <% if current_user.voted_against?(venue) %>
        <%= link_to('vote against this post!') %>
        <% else %>
        <%= link_to('vote against this post!', vote_down_venue_path(venue), :method => :post) %>
        <% end %>
        <br/>
        <%= link_to('Reset!', vote_reset_venue_path(venue), :method => :post) %>
        <br/>
        <% if venue.user_id == current_user.id %>
          <%= link_to 'Edit', edit_venue_path(venue) %>
        <% else %>
        <% end %>
      </p>
      <div class="venue-bottom">
        <% if venue.comments %>
          <% venue.comments.each do |comment| %>
            <div class="comment">
              <div class="user-name">
                <%= comment.user.user_name %>
              </div>
              <br/>
                <%= (comment.votes_for - comment.votes_against) %>
              <br/>
              <div class="comment-content">
                <%= time_ago_in_words(comment.created_at) %> ago
                <%= comment.content %>
                <% if comment.image_file_name != nil %>
                  <%= image_tag comment.image.url(:small), class:'img-responsive' %>
                <% else %>
                <% end %>
              </div>
              <% if comment.user == current_user %>
                <%= link_to venue_comment_path(venue, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="comment-like-form row">
        <div class="like-button col-sm-1">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="comment-form col-sm-11">
          <%= simple_form_for [venue, venue.comments.new] do |f| %>
            <%= f.input :image %>
            <%= f.input :content %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="events-wrapper row">
  <h1>Events</h1>
  <% @events.each do |event| %>
    <div class="event">
      <div class="event-head">
        <div class="title">
          <%= event.title %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag event.image.url(:medium), class:'img-responsive'), event_path(event) %>
      </div>
      <p class="title">
        <%= event.title %>
        <br/>
        <%= event.date_time %>
        <br/>
        <%= event.description %>
        <br/>
        <%= link_to 'Edit', edit_event_path(event) %>
        <br/>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
  </div>

  <div class="events-wrapper row">
  <h1>Deals</h1>
  <% @deals.each do |deal| %>
    <div class="event">
      <div class="event-head">
        <div class="title">
          <%= deal.title %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag deal.image.url(:medium), class:'img-responsive'), deal_path(deal) %>
      </div>
      <p class="title">
        <%= deal.title %>
        <br/>
          <%= deal.start_time %>   
          <%= deal.end_time %>   
        <br/>
        <%= deal.description %>
        <br/>
          <% if current_user.voted_for?(deal) %>
          <%= link_to('Favorited') %>
          <% else %>
          <%= link_to('Favorite!', vote_up_deal_path(deal), :method => :post) %>
          <% end %>
          <br/>
          <% unless current_user.voted_for?(deal) %>
          <%= link_to('Not Favorited') %>
          <% else %>
          <%= link_to('Unfavorite', vote_reset_deal_path(deal), :method => :post) %>
          <% end %>
          <br/>
          <% unless @user.is_manager == true %>
          <% else %>
          <%= link_to 'Edit', edit_deal_path(deal) %>
          <br/>
          <%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </div>
  <% end %>
</div>

<% else %>
<div class="venues-wrapper row">
  <%= link_to "Edit Your Account", edit_user_registration_path %>

<h2> Comments Youve Liked </h2>
 <div class="venue-bottom">
  <% @all_comments.each do |comment| %>
   <% if @user_liked_comments_id.any? {|liked| liked == comment.id} %>
      <div class="comment">
         <div class="user-name">
           <%= comment.user.user_name %>
         </div>
           <br/>
            <div class="comment-content">
             <%= comment.content %>
             <% if comment.image_file_name != nil %>
                  <%= image_tag comment.image.url(:small), class:'img-responsive' %>
             <% else %>
    <% end %>
  <% end %>
<% end %>
</div>

<h2> Your Favorite Deals </h2>
 <div class="venue-bottom">
  <% @all_deals.each do |deal| %>
   <% if @user_liked_deals_id.any? {|liked| liked == deal.id} %>
      <div class="comment">
         <div class="user-name">
           <%= deal.title %>
         </div>
           <br/>
            <div class="comment-content">
             <%= deal.description %>
             <% if deal.image_file_name != nil %>
                  <%= image_tag deal.image.url(:medium), class:'img-responsive' %>
             <% else %>
    <% end %>
    <%= deal.start_time %>
    <%= deal.end_time %>
  <% end %>
<% end %>
</div>

<h2> Your Favorite Events </h2>
 <div class="venue-bottom">
  <% @all_events.each do |event| %>
   <% if @user_liked_events_id.any? {|liked| liked == event.id} %>
      <div class="comment">
         <div class="user-name">
           <%= event.title %>
         </div>
           <br/>
            <div class="comment-content">
             <%= event.description %>
             <% if event.image_file_name != nil %>
                  <%= image_tag event.image.url(:medium), class:'img-responsive' %>
             <% else %>
    <% end %>
    <%= event.date_time %>
  <% end %>
<% end %>
</div>




</div>
<% end %>
