.form-wrapper
  %h1 New Event
  = simple_form_for(@event) do |f|
    .form-inputs
      = f.input :image
      = f.input :title
      = f.input :date_time
      = f.input :description
    .form-actions
      = f.button :submit
