<p id="notice">
  <%= notice %>
</p>
<div class="events-wrapper row">
  <h1>Events</h1>
  <% @events.each do |event| %>
    <div class="event">
      <div class="event-head">
        <div class="title">
          <%= event.title %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag event.image.url(:medium), class:'img-responsive'), event_path(event) %>
      </div>
      <p class="title">
        <%= event.title %>
        <br/>
        <%= event.date_time %>
        <br/>
        <%= event.description %>
        <br/>
        <% unless @user.is_manager == true %>
        <% else %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <br/>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </div>
  <% end %>
  <% unless @user.is_manager == true %>
  <% else %>
  <%= link_to 'New Event', new_event_path %>
  <% end %>
</div>
