.form-wrapper
  %h1 Venue
  = simple_form_for(@venue) do |f|
    .form-inputs
      = f.input :image
      = f.input :title
      = f.input :location
      = f.input :description
    .form-actions
      = f.button :submit
