<!--VENUES INDEX-->
<%= render 'layouts/navbar' %>

<% unless @user.id == 1 %>
<% else %>
<%= link_to 'New Venue', new_venue_path %>
<% end %>

<div class="row">
    <div class="col s12 m8 l8 offset-l2 offset-2">
        <% if @venues.blank? %>
        <h4>There are no Venues called
            <%= params[:search] %>.</h4>
        <% end %>

        <% @venues.each do |venue| %>
        <div class="card hoverable">
            <div class="card-image">
                <%= link_to (image_tag venue.image.url(:medium), class:'img-responsive'), venue_path(venue) %>
                <span class="card-title">
                    <h4 class="title"><%= venue.title %></h4>
                </span>
            </div>
            <div class="card-content center">
              <% if current_user.voted_for?(venue) %>
                <%= link_to("<i class='fa fa-thumbs-up'></i>".html_safe, vote_reset_venue_path(venue), :method => :post) %>
              <% else %>
                <%= link_to('', vote_up_venue_path(venue), class: "fa fa-thumbs-up",  :method => :post) %>    
              <% end %>
              <%= venue.votes_for %>

              <% if current_user.voted_against?(venue) %>
                <%= link_to("<i class='fa fa-thumbs-down'></i>".html_safe, vote_reset_venue_path(venue), :method => :post) %>
              <% else %>
                <%= link_to('', vote_down_venue_path(venue), class: "fa fa-thumbs-down", :method => :post) %>
              <% end %>
              <%= venue.votes_against %>
              <br>
              <% if venue.user_id == current_user.id %>
                <%= link_to 'Edit Venue', edit_venue_path(venue) %>
              <% else %>
              <% end %>
              <div class="rating-score">Google Rating:
                  <%= venue.description %>/5
                  <br>
                  <%= venue.location %>
              </div>
            </div>

            <div class="divider"></div>
            <div class="venue-bottom">
              <ul class="collapsible" data-collapsible="accordion">
                  <li>
                      <div class="collapsible-header">
                          <i class="material-icons">filter_drama</i>Comment</div>
                      <div class="collapsible-body">
                          <span><%= simple_form_for [venue, venue.comments.new] do |f| %>
                              <%= f.input :image %>
                              <%= f.input :content %>
                              <%= f.button :submit, class: "col s12" %>
                              <% end %>
                          </span>
                      </div>
                  </li>
              </ul>

              <% if venue.comments %>
              <% venue.comments.order("created_at desc").each do |comment| %>
              <div class="comment">

                  <div class="comment-padding">
                      <% if current_user.voted_for?(comment) %>
                      <%= link_to("<i class='fa fa-thumbs-up'></i>".html_safe, vote_reset_venue_comment_path(venue, comment), :method => :post) %>
                      <% else %>
                      <%= link_to("<i class='fa fa-thumbs-up'></i>".html_safe, vote_up_venue_comment_path(venue, comment), :method => :post) %>
                      <% end %>
                      <%= comment.votes_for %>

                      <% if current_user.voted_against?(comment) %>
                      <%= link_to("<i class='fa fa-thumbs-down'></i>".html_safe, vote_reset_venue_comment_path(venue, comment), :method => :post) %>
                  <% else %>
                      <%= link_to("<i class='fa fa-thumbs-down'></i>".html_safe, vote_down_venue_comment_path(venue, comment), :method => :post) %>
                      <% end %>
                      <%= comment.votes_against%>
                  </div>

                  <div class="user-name">
                      <p>
                          <strong class="comment-padding"><%= comment.user.user_name %></strong>
                          &nbsp
                          <%= comment.content %>
                      </p>
                  </div>

                  <div class="comment-padding">
                      <%= time_ago_in_words(comment.created_at) %>
                      ago
                  </div>

                  <div class="comment-content">
                      <% comment.image_file_name != nil %>
                      <ul class="collapsible" data-collapsible="accordion">
                          <li>
                              <div class="collapsible-header center">
                                  <i class="material-icons"></i>View Image</div>
                              <div class="collapsible-body">
                                  <span><%= image_tag comment.image.url(:medium), class:'center responsive-img materialboxed' %></span>
                              </div>
                          </li>
                      </ul>
                      
                      <% if comment.user == current_user %>
                        <p><%= link_to venue_comment_path(venue, comment), method: :delete, data: { confirm: "Are you sure?" } do %></p>
                        <i class="fa fa-times-circle comment-padding" aria-hidden="true"></i>
                      <% end %>
                      <% end %>
                      
                      <div class="divider"></div>
                      
                  </div>
                  <% end %>
                  <% end %>
              </div>
            </div>
            <% end %>
            
            
            
            <% if params[:search] %>
            <% else %>
              <%= will_paginate @venues %>
            <% end %>
        </div>
    </div>
</div>    