<div id="login-page" class="row">
    <div class="col s12 m4 l4 offset-l4 offset-m4 z-depth-4 card-panel">
        <div class="login-form card large main-card">
            <%= simple_form_for(@deal) do |f| %>
            <%= f.error_notification %>
            <div class="row margin">
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix">perm_identity</i> -->
                    <%= f.text_field :title, required: true %>
                    <%= f.label :title %>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix">perm_identity</i> -->
                    <%= f.input :image %>
                    <%= f.label :image %>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix">lock_outline</i> -->
                    <%= f.input :description, required: true %>
                    <%= f.label :description %>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s6">
                    <!-- <i class="material-icons prefix">lock_outline</i> -->
                    <%= f.input :start_time %>
                    <%= f.label :start_time %>
                </div>
                
                <div class="input-field col s6">
                    <!-- <i class="material-icons prefix">lock_outline</i> -->
                    <%= f.input :end_time %>
                    <%= f.label :end_time %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.button :submit, "Create Deal", class: "btn waves-effect waves-light col s12" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>