<%= render 'layouts/navbar' %>

<p id="notice">
    <%= notice %>
</p>


<% @deals.each do |deal| %>
<div class="row">
  <div class="col s12 m4 l4 offset-l4 offset-m4">
    
    <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <h2 class="left-align card-title-top center"><%= deal.title %></h2>
            <div class="valign-wrapper card-img-wrap">
                <%= image_tag deal.image.url(:medium), class:'img-responsive' %>
            </div>
        </div>
        <div class="card-content">
            <span class="card-title activator brand-text blue-text">Deal Information<i class="mdi-navigation-more-vert right"></i>
            </span>
            <p><%= deal.start_time.strftime("%l:%M %p") %> - <%= deal.end_time.strftime("%l:%M %p") %></p>
        </div>
        <div class="card-reveal">
            <div class="rev-title-wrap">
                <span class="card-title activator brand-text blue-text"><%= deal.title %><i class="mdi-navigation-close blue-text right"></i>
                </span>
                <p><%= deal.start_time.strftime("%l:%M %p") %> - <%= deal.end_time.strftime("%l:%M %p") %></p>
            </div>
            <p class="rev-content">
              <% deal.description %>
            </p>
            
            <% if current_user.voted_for?(deal) %>
              <%= link_to("<i class='fa fa-star'></i>".html_safe, vote_reset_deal_path(deal), :method => :post) %>
            <% else %>
              <%= link_to("<i class='fa fa-star-o'></i>".html_safe, vote_up_deal_path(deal), :method => :post) %>
            <% end %>
            <br/>
            <% unless @user.is_manager == true %>
            <% else %>
              <%= link_to 'Edit Deal', edit_deal_path(deal) %>
            <br/>
            <%= link_to 'Delete Deal', deal, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
    </div>
</div>
</div>
<% end %>


