%nav.navbar.navbar-default
  .container-fluid.navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to "Socialite", root_path
    #bs-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to "Events", events_path
          %li
            = link_to "Venues", venues_path
          %li
            = link_to "Deals", deals_path
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete
          %li
            = form_tag(venues_path, :method => "get", id: "search-form") do
              = text_field_tag :search, params[:search], placeholder: "Search Venues"
              = submit_tag "Search", :name => nil
        - else
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Register", new_user_registration_path
          
